@model List<EFDBFirst.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<a href="/product/create">Create</a>
<form class="form-inline" action="/product/index">
    <label for="search" class="mr-1">Search:</label>
    <input type="search" class="form-control mr-1" id="search" name="search" placeholder="Search" value="@ViewBag.search">
    <button type="submit" class="btn btn-primary">GO</button>
</form>

<table class="table">
    <tr>
        <th style="width:5%">
            Photo
        </th>
        <th style="width:5%">
            @if (ViewBag.IconClass == "fa-sort-amount-desc")
            {
                <a href="/product/index?SortColumn=ProductID&IconClass=fa-sort-amount-asc">Product ID</a>
                if (ViewBag.SortColumn == "ProductID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/product/index?SortColumn=ProductID&IconClass=fa-sort-amount-desc">Product ID</a>
                if (ViewBag.SortColumn == "ProductID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-amount-desc")
            {
                <a href="/product/index?SortColumn=ProductName&IconClass=fa-sort-amount-asc">Product Name</a>
                if (ViewBag.SortColumn == "ProductName")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/product/index?SortColumn=ProductName&IconClass=fa-sort-amount-desc">Product Name</a>
                if (ViewBag.SortColumn == "ProductName")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-amount-desc")
            {
                <a href="/product/index?SortColumn=Price&IconClass=fa-sort-amount-asc">Price</a>
                if (ViewBag.SortColumn == "Price")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/product/index?SortColumn=Price&IconClass=fa-sort-amount-desc">Price</a>
                if (ViewBag.SortColumn == "Price")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-amount-desc")
            {
                <a href="/product/index?SortColumn=DateOfPurchase&IconClass=fa-sort-amount-asc">Date of Purchase</a>
                if (ViewBag.SortColumn == "DateOfPurchase")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/product/index?SortColumn=DateOfPurchase&IconClass=fa-sort-amount-desc">Date of Purchase</a>
                if (ViewBag.SortColumn == "DateOfPurchase")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-amount-desc")
            {
                <a href="/product/index?SortColumn=AvailabilityStatus&IconClass=fa-sort-amount-asc">Availability Status</a>
                if (ViewBag.SortColumn == "AvailabilityStatus")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/product/index?SortColumn=AvailabilityStatus&IconClass=fa-sort-amount-desc">Availability Status</a>
                if (ViewBag.SortColumn == "AvailabilityStatus")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-amount-desc")
            {
                <a href="/product/index?SortColumn=CategoryID&IconClass=fa-sort-amount-asc">Category</a>
                if (ViewBag.SortColumn == "CategoryID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/product/index?SortColumn=CategoryID&IconClass=fa-sort-amount-desc">Category</a>
                if (ViewBag.SortColumn == "CategoryID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-amount-desc")
            {
                <a href="/product/index?SortColumn=BrandID&IconClass=fa-sort-amount-asc">Brand</a>
                if (ViewBag.SortColumn == "BrandID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/product/index?SortColumn=BrandID&IconClass=fa-sort-amount-desc">Brand</a>
                if (ViewBag.SortColumn == "BrandID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th style="width:5%">
            @if (ViewBag.IconClass == "fa-sort-amount-desc")
            {
                <a href="/product/index?SortColumn=Active&IconClass=fa-sort-amount-asc">Active</a>
                if (ViewBag.SortColumn == "Active")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/product/index?SortColumn=Active&IconClass=fa-sort-amount-desc">Active</a>
                if (ViewBag.SortColumn == "Active")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th style="width:10%"></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td><img src="data:image;base64,@item.Photo" width="100px" /></td>
        <td>@item.ProductID</td>
        <td>@item.ProductName</td>
        <td>@item.Price.Value.ToString("C")</td>
        <td>@item.DateOfPurchase.Value.ToString("d/M/yyyy")</td>
        <td>@item.AvailabilityStatus</td>
        <td>@item.Category.CategoryName</td>
        <td>@item.Brand.BrandName</td>
        <td>@item.Active</td>
        <td>
            <a href="/product/details/@item.ProductID">Details</a> |
            <a href="/product/edit/@item.ProductID">Edit</a> |
            <a href="/product/delete/@item.ProductID">Delete</a>
        </td>
    </tr>
    }

    <tr>
        <td colspan="9">
            @{
                int PrevPageNo = ViewBag.PageNo - 1;
                if (PrevPageNo <= 0)
                {
                    PrevPageNo = 1;
                }

                int NextPageNo = ViewBag.PageNo + 1;
                if (NextPageNo > ViewBag.NoOfPages)
                {
                    NextPageNo = ViewBag.NoOfPages;
                }
            }
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/product/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@PrevPageNo">Prev</a>
                </li>
                @for (int i = 0; i < ViewBag.NoOfPages; i++)
                {
                    if ((i + 1) == ViewBag.PageNo)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/product/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@(i + 1)">@( i + 1)</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/product/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@(i + 1)">@( i + 1)</a>
                        </li>
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="/product/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@NextPageNo">Next</a>
                </li>
            </ul>
        </td>
    </tr>

</table>



